.MobileNav_Container {
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: var(--color-foreground);
    position: relative;
    box-shadow: 0 0 0 1px #101316, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06),
        0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
    border-radius: 15px 15px 0 0;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        content: "";
        border-radius: inherit;
        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
    }

    .MobileNav_Wrapper {
        width: 100%;
        max-width: calc(135px * 3);
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .MobileNav_Component {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:first-of-type {
                border-right: 1px solid var(--color-menu-divider);

            &:last-of-type {
                border-left: 1px solid var(--color-menu-divider);
            }
        }
    }
}
}

.MobileNav_LinksContainer {
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--color-overlay);
    backdrop-filter: blur(2px);
    padding-top: 20px;
    padding-bottom: 40px;

    .MobileNav_LinksWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 3;
        min-height: 40px;
        overflow: hidden;
        flex: 1;

        .MobileNav_MenuLinksContainer {
            font-family: "Caviar Dreams";
            font-style: normal;
            font-weight: 400;
            color: var(--color-text);
            height: 40px;
            min-height: 40px;
            background: var(--color-menu-input-background);
            backdrop-filter: blur(5px);
            border-radius: 5px;
            display: flex;
            align-items: center;
            border: 2px solid var(--color-input-border);
            position: relative;
            transition: all 0.2s ease-in-out;
            width: 90%;
            margin-bottom: 10px;
            cursor: pointer;

                &TextTitle {
                    margin-left: 10px;
                    font-size: 16px;
                    font-weight: 700;
                }


                &Icon {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    filter: var(--color-icon);
                }

                &Text {
                    margin-left: 10px;

                    font-size: 14px;
                }
        }

        .MobileNav_MenuComponent {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            height: 0;
            opacity: 0;
            transition: all 0.2s ease-in-out;
            overflow: hidden;
            width: 100%;

            &.asdasd {
                max-height: 100%;
                opacity: 100%;
                height: 100%;
                overflow: auto;
            }
        }
    }
}


.MobileNav_MenuIcon {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    filter: var(--color-icon);
}

.MobileNav_MenuLabel {
    font-family: "Caviar Dreams";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text);
}

a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-text);

    .MobileNav_Icon {
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
        filter: var(--color-icon);
    }

    .MobileNav_Label {
        font-family: "Caviar Dreams";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: var(--color-text)
    }
}
