.Filter_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--color-input-background);
    border-radius: 5px;
    border: 1px solid var(--color-input-border);
    width: 100%;
    height: 100%;

    .Filter_Wrapper {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px 0;

        .Filter_IconContainer {
            max-width: 40px;
            max-height: 100%;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                filter: var(--color-icon);
            }
        }

        .Filter_InputContainer {
            flex: 1;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #filterInput {
                width: 100%;
                height: 100%;
                background: transparent;
                border: none;
                outline: none;
                font-family: "Caviar Dreams";
            }
        }

        .Filter_Clear{
            max-width: 40px;
            max-height: 100%;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                filter: var(--color-icon);
            }
        }
    }
}