.ProfilePageM_Container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    font-family: Caviar Dreams;
    input {
        font-family: Caviar Dreams;
    }

    .ProfilePageM_BannerContainer {
        height: 100px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        #banner {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .ProfilePageM_Wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 100%;
        z-index: 2;

        .ProfilePageM_UserInfoContainer {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            width: 100%;

            .ProfilePageM_PbContainer {
                width: 110px;
                height: 110px;
                display: flex;
                justify-content: center;
                align-items: center;

                .ProfilePageM_Pb {
                    width: 110px;
                    height: 110px;
                    border-radius: 50%;
                    border: 2px solid var(--color-border);

                    #pb {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
            }

            .ProfilePageM_InfoContainer {
                display: flex;
                flex-direction: column;
                margin-top: 55px;
                margin-left: 5px;
                margin-right: 5px;
                gap: 10px;

                .ProfilePageM_NicknameContainer {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    input {
                        width: 100%;
                        border: none;
                        background-color: transparent;
                        font-size: 16px;
                        font-weight: 400;
                        color: var(--color-text);
                        outline: none;

                        &:disabled {
                            color: var(--color-text);
                        }

                        &:enabled {
                            box-shadow: inset 0 0 4px 0 #000;
                            border-radius: 5px;
                            background-color: var(--color-input-background);
                        }
                    }
                }

                .ProfilePageM_UsernameContainer {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    input {
                        width: 100%;
                        border: none;
                        background-color: transparent;
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--color-textSecondary);
                        outline: none;
                    }
                }
            }

            .ProfilePageM_ButtonContainer {
                width: 100px;
                height: calc(100% - 50px);
                margin-top: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                .ProfilePageM_EditButton {
                    width: 100%;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--color-jointext-color);
                    cursor: pointer;
                    background-color: var(--color-highlighthover);
                    border-radius: 5px;
                }
            }

        }

        .ProfilePageM_UserBio {
            padding-left: 10px;
            padding-right: 10px;
            width: calc(100% - 20px);
            height: 30px;
            display: flex;
            background-color: var(--color-input-background);
            border-radius: 5px;
            margin-top: 10px;
            border: 1px solid var(--color-input-border);

            #Bio {
                width: 100%;
                height: 100%;
                border: none;
                background-color: transparent;
                font-size: 14px;
                font-weight: 400;
                color: var(--color-text);
                outline: none;
            }
        }

        .ProfilePageM_AchievementContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            height: 100px;
            gap: 20px;
            margin-top: 20px;

            .ProfilePageM_FriendsContainer {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .ProfilePageM_FriendsTitle {
                    width: calc(100% - 10px);
                    height: 30px;
                    display: flex;
                    padding-left: 10px;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--color-text);
                    background: var(--color-input-background);
                    border: 1px solid var(--color-input-border);
                    border-radius: 5px;
                    margin-bottom: 10px;
                }

                .ProfilePageM_FriendsContentContainer {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, 50px);
                    width: 100%;
                    height: 60px;
                    justify-content: space-between;

                    .ProfilePageM_FriendsContent {
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        border: 1px solid var(--color-input-border);
                        background-color: var(--color-input-background);

                        img {
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .ProfilePageM_ContentContainer {
            flex: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            border-radius: 5px;
            background-color: var(--color-input-background);
            border: 1px solid var(--color-input-border);
            margin-bottom: 20px;
            .ProfilePageM_ContentWrapper{
                width: 90%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .ProfilePageM_NavContainer{
                    width: 100%;
                    height: 30px;
                    display: flex;
                    margin-top: 10px;
                    background-color: var(--color-input-background);
                    border: 1px solid var(--color-input-border);
                    border-radius: 5px;
                    .ProfilePageM_NavItem{
                        flex: 1;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 14px;
                        font-weight: 400;
                        padding: 0 10px;
                        color: var(--color-text);
                        cursor: pointer;
                        border-left: 1px solid var(--color-input-border);
                        &:first-child{
                            border-left: none;
                        }
                    }
                }
                .ProfilePageM_Content{
                    color: var(--color-text);
                }
            }
        }
    }
}