.PortraitOrientation_Container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    z-index: 1000;
    color: var(--color-text);
    font-family: "Caviar Dreams";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}