.UserCreatedTile_Container{
    width: calc(100% - 4px);
    height: 60px;
    border-radius: 5px;
    display: flex;
    background: var(--color-input-background);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    border: 2px solid var(--color-input-border);
    font-family: "Caviar Dreams";
    font-style: normal;
    color: var(--color-text);

    div{
        margin: 0 20px;
    }
    .UserCreatedTile_TileInfoContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        .UserCreatedTile_TileInfo{
            max-width: 180px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: "Caviar Dreams";
            font-style: normal;
            font-weight: 400;
            display: flex;
            align-items: center;
        }
        .Action{
            font-size: 16px;   
            color: var(--color-text); 
        }
        .NickName{
            font-size: 14px;   
            color: var(--color-textSecondary); 
        }
    }
    .UserCreatedTile_TileInfoIcon{
        width: 40px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 24px;
            height: 24px;
            transition: transform 0.2s ease-in-out;
            cursor: pointer ;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}