.GameBoard_Container {
    border-radius: 15px;
    background-color: var(--color-foreground);
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    aspect-ratio: 1/1;
    box-shadow: 0 0 0 1px #101316, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06),
        0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);

    .GameBoard_TileContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, calc(20% - 25px));
        grid-template-rows: repeat(5, calc(20% - 25px));
        grid-gap: 20px;
        height: 100%;
        justify-content: center;
        align-content: center;
        .GameBoard_Tile {
            font-family: "Caviar Dreams";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 0%;
            z-index: 3;
            border: 2px solid var(--color-input-border);
            border-radius: 5px;
            width: 100%;
            height: 100%;
            background: var(--color-input-background);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: box-shadow 0.2s, outline 0.2s ease;
            &:hover {
                box-shadow: var(--color-highlighthover) 0 0 0 2px inset !important;
            }
            .GameBoard_TileShadow{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
        }
        .TileFree {
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 3;
            font-size: 20px;
            color: var(--color-text);
        }
    }
}

.GameBoard_Container::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
}
