.Gameboard_Container {
    display: flex;
    flex: 1;
    align-items: center;
    user-select: none;
    background: #1b1f24;
    flex-direction: column;

    .Gameboard_NavBackground {
        width: 100%;
        height: 100px;
        background-color: #24292f;
    }

    .Gameboard_Wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        .Gameboard_TracklistContainer {
            width: 50px;
            height: 100%;
            display: flex;
            flex-direction: column;
            transition: width 0.2s ease-in-out;
            background-color: #24292f;
            border-radius: 0 0 15px 0;
            align-items: center;
            justify-content: center;

            &.shown {
                width: 320px;
            }

            .Gameboard_TracklistTitle {
                height: 40px;
                background: rgba(255, 255, 255, 0.05);
                backdrop-filter: blur(5px);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid rgba(0, 0, 0, 0.5);
                font-family: "Caviar Dreams";
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 0%;
                color: #fff;
                transition: all 0.2s ease-in-out;
                width: 40px;
                cursor: pointer;
                
                &.shown{
                    width: 280px;
                    font-weight: 700;
                }
            }

            .Gameboard_TracklistComponentContainer {
                width: 50px;
                opacity: 0;
                transition: all 0.2s ease-in-out;
                border: 1px solid red;
                height: 100%;
                margin: 20px 0;
                &.shown {
                    width: 280px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    opacity: 100%;
                }
            }
        }

        .Gameboard_GameboardContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .Gameboard_GameboardWrapper {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .Gameboard_PlayersContainer {
            min-width: 50px;
            height: 100%;
            display: flex;
            flex-direction: column;
            transition: all 0.2s ease-in-out;
            background-color: #24292f;
            border-radius: 0 0 15px 0;

            &.shown {
                min-width: 320px;
            }
        }
    }
}

.test {
    position: relative;
    width: 15px;
    height: 15px;
    background-color: #24292f;

    .test2 {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #1b1f24;
    }
}

.test3 {
    position: relative;
    width: 15px;
    height: 15px;
    background-color: #24292f;

    .test4 {
        position: absolute;
        top: 0;
        left: -100%;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #1b1f24;
    }
}