.Gameboard_WinnerClaim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-input-border);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    .Gameboard_WinnerClaimBox {
        max-width: 400px;
        width: 100%;
        height: fit-content;
        background-color: var(--color-foreground);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        position: relative;
        gap: 20px;
        box-shadow: 0 0 0 1px #101316, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06),
            0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);


        &::after {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            pointer-events: none;
            content: "";
            border-radius: inherit;
            box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
        }

        .Gameboard_WinnerClaimBoxTitle {
            font-family: "Caviar Dreams";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            color: var(--color-text);
        }

        .Gameboard_WinnerClaimBoxContent {
            font-family: "Caviar Dreams";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: var(--color-text);
            margin-bottom: 20px;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex: 1;
        }
    }
}

.Gameboard_Container {
    display: flex;
    flex: 1;
    align-items: center;
    user-select: none;
    background: var(--color-background);
    flex-direction: column;

    .Gameboard_NavBackground {
        width: 100%;
        height: 100px;
        background-color: var(--color-foreground);
    }

    .Gameboard_Wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .Gameboard_TracklistContainer {
            @media screen and (max-height: 414px) and (orientation: landscape) {
                width: 40px;                
                &.shown {
                    width: 160px;
                }
            }

            @media screen and (min-height: 415px) {
                width: 50px;
                border-radius: 0 0 0 15px;

                &.shown {
                    width: 320px;
                }
            }
            height: 100%;
            display: flex;
            flex-direction: column;
            transition: width 0.2s ease-in-out;
            background-color: var(--color-foreground);
            align-items: center;
            justify-content: center;
            z-index: 4;

            .Gameboard_TracklistTitle {
                margin-top: 10px;
                @media screen and (max-height: 414px) and (orientation: landscape) {
                    width: 30px;
                    height: 30px;
                    font-size: 14px;
                    &.shown {
                        width: 140px;
                    }
                }

                @media screen and (min-height: 415px) {
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                    &.shown {
                        width: 280px;
                    }
                }
                background: var(--color-input-background);
                backdrop-filter: blur(5px);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid var(--color-input-border);
                font-family: "Caviar Dreams";
                font-style: normal;
                font-weight: 700;
                line-height: 0%;
                color: var(--color-text);
                transition: all 0.2s ease-in-out;
                cursor: pointer;
            }

            .Gameboard_TracklistComponentContainer {

                @media screen and (max-height: 414px) and (orientation: landscape) {

                    width: 30px;
                    &.shown {
                        width: 140px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        opacity: 100%;
                    }
                }

                @media screen and (min-height: 415px) {
                    width: 40px;
                    &.shown {
                        width: 280px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        opacity: 100%;
                    }
                }
                opacity: 0;
                transition: all 0.2s ease-in-out;
                height: 100%;
                margin: 20px 0;
                align-items: center;
                overflow-y: auto;
                padding: 0 5px;
                flex-grow: 1;
                flex-basis: 0;

            }
        }

        .Gameboard_GameboardContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            background-image: url(https://github.githubassets.com/images/modules/site/codespaces/glow.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            .GameBoard_MobileBack{
                position: absolute;
                top: 20px;
                right: 20px;
                color: #fff;
                font-size: 12px;
                cursor: pointer;
                z-index: 5;
                font-family: 'Caviar Dreams';
                font-style: normal;
                font-weight: 400;

            }

            .backgroundImage {
                width: 100%;
                position: absolute;
                z-index: 1;
                height: auto !important;
                -webkit-user-drag: none;
                animation: 10s background infinite;
            }

            .Gameboard_GameboardWrapper {
                max-height: 90%;
                height: 100%;
                flex: 1;
                display: flex;
                z-index: 2;
                justify-content: center;
                align-items: center;
            }
        }

        .Gameboard_PlayersContainer {
            @media screen and (max-height: 414px) and (orientation: landscape) {
                width: 40px;                
                &.shown {
                    width: 160px;
                }
            }

            @media screen and (min-height: 415px) {
                width: 50px;
                border-radius: 0 0 0 15px;

                &.shown {
                    width: 320px;
                }
            }

            height: 100%;
            display: flex;
            flex-direction: column;
            transition: width 0.2s ease-in-out;
            background-color: var(--color-foreground);
            align-items: center;
            justify-content: center;
            z-index: 4;



            .Gameboard_PlayersTitle {
                margin-top: 10px;
                @media screen and (max-height: 414px) and (orientation: landscape) {
                    width: 30px;
                    height: 30px;
                    font-size: 14px;
                    &.shown {
                        width: 140px;
                        font-weight: 700;
                    }
                }

                @media screen and (min-height: 415px) {
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                    &.shown {
                        width: 280px;
                        font-weight: 700;
                    }
                }
                background: var(--color-input-background);
                backdrop-filter: blur(5px);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid var(--color-input-border);
                font-family: "Caviar Dreams";
                font-style: normal;
                line-height: 0%;
                color: var(--color-text);
                transition: all 0.2s ease-in-out;
                
                cursor: pointer;

            }

            .Gameboard_PlayersComponentContainer {

                @media screen and (max-height: 414px) and (orientation: landscape) {

                    width: 30px;
                    &.shown {
                        width: 140px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        opacity: 100%;
                    }
                }

                @media screen and (min-height: 415px) {
                    width: 40px;
                    &.shown {
                        width: 280px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        opacity: 100%;
                    }
                }

                opacity: 0;
                transition: all 0.2s ease-in-out;
                height: 100%;
                margin: 20px 0;
                align-items: center;
                overflow-y: auto;
                padding: 0 5px;
                flex-grow: 1;
                flex-basis: 0;


            }
        }
    }
}


@keyframes background {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.mobile{

}