.TilepackComponent_Container{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 100%;
    background: var(--color-input-background);
    backdrop-filter: blur(5px);
    border: 2px solid var(--color-input-border);
    transition: box-shadow 0.2s, outline 0.2s ease;
    gap: 10px;
    position: relative;

    .TilepackComponent_Delete{
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        img{
            height: 16px;
            width: 16px;
            filter: var(--color-icon)
        }
    }
    .TilepackComponent_Pic{
        margin-top: 15px;
        max-width: 70px;
        max-height: 70px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .TilepackComponent_Name{
        font-family: "Caviar Dreams";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: var(--color-text);
        width: 90%;
        overflow: hidden;
        min-width: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .TilepackComponent_Price{
        font-family: "Caviar Dreams";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: var(--color-text);
        width: 90%;
        overflow: hidden;
        min-width: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .TilepackComponent_EditButton{
        width: 90%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-input-background);
        backdrop-filter: blur(5px);
        border-radius: 5px;
        border: 2px solid var(--color-input-border);
        transition: box-shadow 0.2s, outline 0.2s ease;
        gap: 10px;
        font-family: "Caviar Dreams";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: var(--color-text);
        margin-bottom: 15px;
        cursor: pointer;

        &:hover{
            box-shadow: var(--color-highlighthover) 0 0 0 2px inset;
                
        }
    }
}