.GameSettingsM_OpenIconContainer {
    position: absolute;
    top: 30px;
    right: 55px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    img {
        width: 100%;
        height: 100%;
        filter: var(--color-icon);
    }
}

.GameSettingsM_Container {
    position: absolute;
    top: 100%;
    background: var(--color-foreground);
    border-radius: 15px;
    right: 0;
    width: 100%;
    height: 85%;
    z-index: 3;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 0 1px #101316, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06),
        0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
    transition: top 0.2s ease-in-out;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        content: "";
        border-radius: inherit;
        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
    }

    .GameSettingsM_CloseContainer {
        position: absolute;
        top: 30px;
        right: 55px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            filter: var(--color-icon);
        }
    }
    .GameSettingsM_Wrapper {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .GameSettingsM_Header {
            width: 100%;
            height: 10%;
            min-height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Caviar Dreams";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            color: var(--color-text);
        }
        .GameSettingsM_ContentWrapper {
            width: 100%;
            min-height: 40px;
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .GameSettingsM_ContentTitleContainer {
                width: calc(100% - 24px);
                min-height: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0 10px;

                background: var(--color-input-background);
                backdrop-filter: blur(5px);
                border-radius: 5px;
                border: 2px solid var(--color-input-border);
                gap: 10px;
                .GameSettingsM_ContentIcon {
                    aspect-ratio: 1/1;
                    width: 30px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 100%;
                        filter: var(--color-icon);
                    }
                }
                .GameSettingsM_ContentTitle {
                    flex: 1;
                    font-family: "Caviar Dreams";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    color: var(--color-text);
                }
            }
            .GameSettingsM_ContentContainer {
                transition: max-height 0.2s ease-in-out;
                overflow: hidden;
                max-height: 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                width: 100%;
                .GameSettingsM_Content {
                    width: calc(100% - 24px);
                    max-height: 30px;
                    min-height: 30px;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    padding: 0 10px;
                    background: var(--color-input-background);
                    backdrop-filter: blur(5px);
                    border-radius: 5px;
                    border: 2px solid var(--color-input-border);
                    justify-content: center;
                    align-items: center;
                    transition: border 0.2s ease-in-out;

                    .GameSettingsM_ContentName {
                        height: 100%;
                        display: flex;
                        align-items: center;

                        flex: 1;
                        font-family: "Caviar Dreams";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--color-text);
                    }
                    .GameSettingsM_ContentIcon{
                        aspect-ratio: 1/1;
                        height: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 100%;
                            height: 100%;
                            filter: invert(62%) sepia(21%) saturate(2095%) hue-rotate(112deg) brightness(89%) contrast(82%);
                        }
                    }
                }
            }
        }
        .GameSettingsM_ButtonContainer{
            width: 100%;
            height: 10%;
            min-height: 30px;
            
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .GameSettingsM_Button{
                width: 100px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Caviar Dreams";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: var(--color-text);
                background: var(--color-input-background);
                backdrop-filter: blur(5px);
                border-radius: 5px;
                border: 2px solid var(--color-input-border);
                cursor: pointer;
            }
        }
    }
}

.TilePackSettingsShown {
    max-height: 100% !important;
    overflow: auto !important;
}

.GameSettingsM_TilepackActivated{
    border: 2px solid #17BB84 !important;
}

.GameSettingsM_Test{
    top: 10%;
}

.GameSettingsM_closingOverlayOpacity{
    opacity: 100% !important;
    pointer-events: none;
}

.GameSettingsM_ClosingContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: var(--color-overlay);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
