$defaultEasing: cubic-bezier(0.4, 0, 0.2, 1);

.Login-Container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    user-select: none;
    background: var(--color-background);
    .Login-Background {
        width: 50%;
        position: absolute;
        z-index: 1;
        height: auto !important;
        -webkit-user-drag: none;
        animation: 1s initialBackground forwards, 5s foreverBackground alternate infinite;
    }
    .Login-Wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        z-index: 2;
        .Login-Component {
            width: 350px;
            height: 400px;
            background-color: var(--color-foreground);
            border-radius: 15px;
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            animation: 0.35s opacity forwards;
            box-shadow: 0 0 0 1px #101316, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06),
                0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
            .Login-Title {
                width: 100%;
                height: 85px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Caviar Dreams";
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                color: var(--color-text);
            }

            .Login-InputContainer {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 13px;
                .Login-InputWrapper {
                    display: flex;
                    flex-direction: column;
                    .Login-InputTitle {
                        font-family: "Caviar Dreams";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--color-highlighthover);
                    }
                    .Login-InputFieldWrapper {
                        width: 280px;
                        height: 40px;
                        background: rgba(255, 255, 255, 0.05);
                        backdrop-filter: blur(5px);
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid rgba(0, 0, 0, 0.5);
                        transition: box-shadow 0.2s, outline 0.2s ease;
                        gap: 10px;
                        .Login-InputIcon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-left: 10px;
                        }
                        input {
                            width: 100%;
                            height: 100%;
                            background-color: transparent;
                            outline: none;
                            border: 0;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 0%;
                            color: var(--color-text);

                            &::placeholder {
                                color: #999;
                            }
                        }
                        &:hover {
                            box-shadow: var(--color-highlighthover) 0 0 0 2px inset;
                        }
                    }
                }
                .Login-Button {
                    width: 280px;
                    height: 40px;
                    background: var(--color-text);
                    backdrop-filter: blur(5px);
                    border-radius: 5px;
                    border: 2px solid var(--color-text);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: "Caviar Dreams";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 0%;
                    color: var(--color-jointext-color);
                    cursor: pointer;
                }
            }
            .Login-NeedAccountWrapper {
                display: flex;
                padding-bottom: 30px;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
                gap: 5px;
                .Login-NeedAccountTitle {
                    font-family: "Caviar Dreams";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    color: var(--color-textSecondary);
                }
                .Login-NeedAccountButton {
                    font-family: "Caviar Dreams";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    a {
                        color: var(--color-text)fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.Login-Component::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
}

.animComponent {
    opacity: 100% !important;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes initialBackground {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(100deg);
    }
}

@keyframes foreverBackground {
    0% {
        filter: hue-rotate(100deg);
    }
    100% {
        filter: hue-rotate(80deg);
    }
}

.active {
    box-shadow: var(--color-highlighthover) 0 0 0 2px inset !important;
}
