.ProfileFriends_Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background: var(--color-input-background);
    border-radius: 5px;
    border: 1px solid var(--color-input-border);
    .ProfileFriends_Wrapper{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: center;
        align-items: center;
        .ProfileFriends_ImageContainer{
            max-width: 80px;
            max-height: 80px;
            aspect-ratio: 1/1;
            width: 100%;
            height: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .ProfileFriends_ImageWrapper{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 2px solid var(--color-border);
                object-fit: cover;
                overflow: hidden;
                #ProfileFriends_Image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .ProfileFriends_InfoContainer{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 10px;
            .ProfileFriends_NameContainer{
                font-size: 18px;
                font-weight: 400;
                color: var(--color-text);
                font-family: "Caviar Dreams"; 
            }
            
            .ProfileFriends_UsernameContainer{
                font-size: 1rem;
                font-weight: 400;
                color: var(--color-textSecondary);
                font-family: "Caviar Dreams";
            }
        }
        .ProfileFriends_GotoProfileContainer{
            max-width: 40px;
            min-width: 40px;
            max-height: 100%;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img{
                filter: var(--color-icon);
            }
        }
    }
}