.Lobby_Container {
    display: flex;
    flex: 1;
    align-items: center;
    user-select: none;
    background: var(--color-background);
    flex-direction: column;

    .Lobby_NavBackground {
        width: 100%;
        height: 100px;
        border-radius: 0 0 15px 15px;
        background-color: var(--color-foreground);
    }

    .Lobby_Wrapper {
        @media screen and (max-width: 768px) {
            width: 90%;
        }

        @media screen and (min-width: 768px) {
            width: 70%;
        }

        height: 100%;
        display: flex;
        flex-direction: column;

        .Lobby_TitleContainer {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .Lobby_Title {
                width: 100%;
                height: 85px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Caviar Dreams";
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                color: var(--color-text);
                text-align: center;

                outline: none;
                border: none;
                background: transparent;
            }

            &:hover > .Lobby_EditIcon {
                filter: var(--color-icon);
                display: block;
            }

            .Lobby_EditIcon {
                width: 20px;
                height: 20px;
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 10px;
                filter: var(--color-icon);
                display: none;
            }
        }

        .Lobby_InputContainer {
            display: flex;
            gap: 35px;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .Lobby_ButtonsContainer {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 20px;
                align-items: center;
                width: 100%;
            }

            .Lobby_PinCode {
                width: 280px;
                height: 40px;
                background: var(--color-input-background);
                backdrop-filter: blur(5px);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid var(--color-input-border);
                margin-bottom: 24px;
                box-shadow: var(--color-highlighthover) 0 0 0 2px inset;

                input {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    outline: none;
                    border: 0;
                    text-align: center;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 0%;
                    color: var(--color-text);
                    cursor: pointer;

                    &::placeholder {
                        color: var(--color-input-placeholder);
                    }
                }
            }

            .Lobby_StartButton {
                @media screen and (min-width: 768px) {
                    width: 280px;
                }

                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                height: 40px;
                background: var(--color-text);
                backdrop-filter: blur(5px);
                border-radius: 5px;
                border: 2px solid var(--color-text);
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Caviar Dreams";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 0%;
                color: var(--color-jointext-color);
                margin-bottom: 78px;
                cursor: pointer;
            }
        }

        .Lobby_PlayerContainer {
            display: grid;
            grid-template-columns: repeat(auto-fill, 270px);
            padding-top: 10px;

            @media screen and (min-width: 768px) {
                height: 500px;
                justify-content: center;
            }

            @media screen and (max-width: 768px) {
                max-height: fit-content;
                flex-grow: 1;
                flex-basis: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
            }

            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
            gap: 15px;
        }
    }
}
