.LandingPage-Container {
    display: flex;
    background-color: var(--color-background);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    font-family: "Caviar Dreams" !important;
    user-select: none;
    flex: 1;
    width: 100%;

    img {
        @media screen and (min-width: 768px) {
            width: 50%;
            position: absolute;
            z-index: 1;
            height: auto !important;
            -webkit-user-drag: none;
        }

        @media screen and (max-width: 768px) {display: none;
        }


    }

    .LandingPage-Wrapper {
        z-index: 2;
        width: 350px;
        height: 400px;
        border-radius: 15px;
        background-color: var(--color-foreground);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: 0 0 0 1px #101316, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06),
            0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);

        animation: 0.35s opacity forwards;

        .LandingPage-JoinWrapper {
            .LandingPage-JoinLabel {
                font-family: "Caviar Dreams";
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 0%;
                margin-bottom: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .LandingPage-JoinInput {
                width: 280px;
                height: 40px;
                background: var(--color-input-background);
                backdrop-filter: blur(5px);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid var(--color-input-border);
                margin-bottom: 24px;
                transition: box-shadow 0.2s, outline 0.2s ease;

                input {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    outline: none;
                    border: 0;
                    text-align: center;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 0%;
                    color: var(--color-text);

                    &::placeholder {
                        color: var(--color-input-placeholder);
                    }
                }

                &:hover {
                    box-shadow: var(--color-highlighthover) 0 0 0 2px inset;
                }
            }

            .LandingPage-JoinButton {
                width: 280px;
                height: 40px;
                background: var(--color-text);
                backdrop-filter: blur(5px);
                border-radius: 5px;
                border: 2px solid var(--color-text);
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Caviar Dreams";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 0%;
                color: var(--color-jointext-color);
                margin-bottom: 78px;
                cursor: pointer;
            }
        }

        .LandingPage-CreateRoom {
            font-family: "Caviar Dreams";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 0%;
            border: 2px solid var(--color-input-border);
            border-radius: 5px;
            width: 280px;
            height: 40px;
            background: var(--color-input-background);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: box-shadow 0.2s, outline 0.2s ease;
        }

        .LandingPage-CreateRoom:hover {
            cursor: pointer;
            box-shadow: var(--color-highlighthover) 0 0 0 2px inset;
        }
    }
}

.LandingPage-Wrapper::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
}

.active {
    box-shadow: var(--color-highlighthover) 0 0 0 2px inset !important;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}