.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select: none;
  background-color: #1b1f24;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

input {
  color: #fff;
}

@font-face {
  font-family: Caviar Dreams;
  src: url('./assets/Fonts/caviarDreams/CaviarDreams.ttf');
}
