.App {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  background-color: #1b1f24;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html{
  height: 100%;
  width: 100%;
}

.root{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

input {
  color: #fff;
}

@font-face {
  font-family: Caviar Dreams;
  src: url(./assets/fonts/caviarDreams/CaviarDreams.ttf);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 10px;
  background-color: #24292f;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
  background-color: #24292f;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8694A4;
  position: relative;
}

  