.FriendsPage-Container {
    display: flex;
    flex: 1;
    align-items: center;
    user-select: none;
    background: var(--color-background);
    flex-direction: column;

    .FriendsPage-NavBackground {
        width: 100%;
        height: 100px;
        background-color: var(--color-foreground);
        margin-bottom: 90px;
    }

    .FriendsPage-Wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 450px;
        width: 450px;
        height: 100%;

        .FriendsPage-Title {
            width: 100%;
            height: 85px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Caviar Dreams";
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            color: var(--color-text);
            margin-bottom: 55px;
        }

        .FriendsPage-Searchbar {
            width: 100%;
            height: 40px;
            margin-bottom: 40px;

            .FriendsPage-SearchbarContainer {
                width: 100%;
                height: 100%;
                background: var(--color-input-background);
                backdrop-filter: blur(5px);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid var(--color-input-border);
                transition: box-shadow 0.2s, outline 0.2s ease;
                gap: 10px;

                .FriendsPage-SearchbarIcon:first-of-type {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 10px;
                    filter: var(--color-icon);
                }

                .FriendsPage-SearchbarIcon:last-of-type{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 10px;
                    animation: fadeIn 0.2s ease-in-out;
                    cursor: pointer;
                    filter: var(--color-icon);
                    img{
                        height: 16px;
                        width: 16px;
                    }
                }

                .FriendsPage-SearchbarInput {
                    flex: 1;
                    input {
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        outline: none;
                        border: 0;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 0%;
                        color: var(--color-text);

                        &::placeholder {
                            color: var(--color-input-placeholder)
                        }
                    }
                }

                &:hover {
                    box-shadow: var(--color-highlighthover) 0 0 0 2px inset;
                }
            }
        }

        .FriendsPage-FriendsContainer {
            flex: 1;
            width: calc( 100% - 4px );
            display: flex;
            flex-direction: column;
            overflow: auto;
            gap: 15px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}