.InvertedCornerQ1 {
    position: relative;
    background-color: var(--color-foreground);
    z-index: 4;

    &::before{
        content: "";
        top: 0px;
        left: 0;
        position: absolute;
        height: 30px;
        width: 15px;
        background-color: transparent;
        border-top-left-radius: 15px;
        box-shadow: var(--color-foreground) 0px -15px 0px 0px;
    }
}

.InvertedCornerQ2 {
    position: relative;
    background-color: var(--color-foreground);
    z-index: 4;

    &::before{
        content: "";
        top: 0px;
        right: 0;
        position: absolute;
        height: 30px;
        width: 15px;
        background-color: transparent;
        border-top-right-radius: 15px;
        box-shadow: var(--color-foreground) 0px -15px 0px 0px;
    }
}

.InvertedCornerQ3 {
    position: relative;
    background-color: var(--color-foreground);
    z-index: 4;
    transform: rotateX(180deg);

    &::before{
        content: "";
        top: 0px;
        left: 0;
        position: absolute;
        height: 30px;
        width: 15px;
        background-color: transparent;
        border-top-left-radius: 15px;
        box-shadow: var(--color-foreground) 0px -15px 0px 0px;
    }
}

.InvertedCornerQ4 {
    position: relative;
    background-color: var(--color-foreground);
    z-index: 4;
    transform: rotateX(180deg);
    
    &::before{
        content: "";
        top: 0px;
        right: 0;
        position: absolute;
        height: 30px;
        width: 15px;
        background-color: transparent;
        border-top-right-radius: 15px;
        box-shadow: var(--color-foreground) 0px -15px 0px 0px;
    }
}