.NewTilePack_Container {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .NewTilePack_Wrapper {
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: row;
        gap: 30px;

        .NewTilePack_InfoContainer {
            max-width: 275px;
            display: flex;
            flex-direction: column;
            background: var(--color-foreground);
            border-radius: 15px;
            gap: 20px;
            box-shadow: 0 0 0 1px #101316, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06),
                0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
            position: relative;
            align-items: center;
            width: 100%;
            height: 100%;

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                pointer-events: none;
                content: "";
                border-radius: inherit;
                box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
            }

            .NewTilePack_InfoImage {
                aspect-ratio: 1/1;
                width: 80%;
                height: auto;
                background: var(--color-input-background);
                backdrop-filter: blur(5px);
                border: 2px solid var(--color-input-border);
                border-radius: 15px;
                transition: box-shadow 0.2s, outline 0.2s ease;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-top: 30px;

                &:hover {
                    box-shadow: var(--color-highlighthover) 0 0 0 2px inset;

                }

                img {
                    width: 25%;
                    height: auto;
                    filter: var(--color-icon);
                }
            }

            .NewTilePack_InfoStateContainer {
                width: 80%;
                height: 40px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: var(--color-input-background);
                backdrop-filter: blur(5px);
                border-radius: 5px;
                display: flex;
                align-items: center;
                border: 2px solid var(--color-input-border);
                transition: box-shadow 0.2s, outline 0.2s ease;
                gap: 10px;

                .NewTilePack_Icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 10px;

                    img {

                        filter: var(--color-icon);
                    }
                }

                .NewTilePack_SearchInput {
                    flex: 1;

                    input {
                        width: 100%;
                        height: 100%;
                        border: none;
                        background: none;
                        outline: none;
                        font-family: "Caviar Dreams";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--color-text);
                    }
                }
            }
        }

        .NewTilePack_CreatorContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            background: var(--color-foreground);
            border-radius: 15px;
            gap: 20px;
            box-shadow: 0 0 0 1px #101316, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06),
                0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
            position: relative;
            align-items: center;
            width: 100%;
            height: 100%;

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                pointer-events: none;
                content: "";
                border-radius: inherit;
                box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
            }

            .NewTilePack_CreatorWrapper {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .NewTilePack_TileContainer {
                    padding: 30px;
                    display: flex;
                    flex-direction: column;

                    .NewTilePack_CreatorTitle {
                        font-family: "Caviar Dreams";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        color: var(--color-text);
                        margin-bottom: 20px;
                        width: 100%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--color-input-background);
                        backdrop-filter: blur(5px);
                        border-radius: 5px;
                        border: var(--color-input-border) 2px solid;
                    }

                    .NewTilePack_CreatorActionContainer {
                        flex-grow: 1;
                        flex-basis: 0;
                        display: flex;
                        flex-direction: column;
                        overflow-y: auto;
                        overflow-x: hidden;
                        height: 100%;
                        background: var(--color-input-background);
                        backdrop-filter: blur(5px);
                        border-radius: 5px;
                        border: var(--color-input-border) 2px solid;
                        transition: box-shadow 0.2s, outline 0.2s ease;
                        gap: 20px;
                        padding: 20px;

                        .NewTilePack_NewTileButton {
                            width: 100%;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: var(--color-foreground);
                            border-radius: 5px;
                            cursor: pointer;
                            font-family: "Caviar Dreams";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            color: var(--color-text);
                            box-shadow: none;
                            transition: box-shadow 0.2s, outline 0.2s ease;

                            img {
                                width: auto;
                                height: 100%;
                                filter: var(--color-icon);
                            }

                            &:hover {
                                box-shadow: var(--color-highlighthover) 0 0 0 2px inset;
                            }
                        }
                    }
                }
            }

            .NewTilePack_CreatorButtonContainer {
                flex: 1;
                width: 100%;
                height: 40px;
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: end;

                .NewTilePack_CreatorButtonWrapper {
                    display: flex;
                    gap: 20px;
                    padding-right: 30px;
                    height: 100%;

                    .NewTilePack_CancelButton {
                        background: var(--color-input-background);
                        backdrop-filter: blur(5px);
                        border-radius: 5px;
                        border: var(--color-input-border) 2px solid;
                        transition: box-shadow 0.2s, outline 0.2s ease;
                        cursor: pointer;
                        height: 40px;
                        width: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: "Caviar Dreams";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--color-text);

                        &:hover {
                            box-shadow: rgb(188, 45, 45) 0 0 0 2px inset;
                        }
                    }

                    .NewTilePack_CreatorButton {
                        background: var(--color-input-background);
                        backdrop-filter: blur(5px);
                        border-radius: 5px;
                        border: var(--color-input-border) 2px solid;
                        transition: box-shadow 0.2s, outline 0.2s ease;
                        cursor: pointer;
                        height: 40px;
                        width: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: "Caviar Dreams";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--color-text);

                        &:hover {
                            box-shadow: rgb(45, 188, 52) 0 0 0 2px inset;
                        }
                    }
                }
            }
        }
    }
}

.NewTile_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    min-height: 40px;
    color: var(--color-text);
    background: var(--color-foreground);
    border-radius: 5px;
    overflow: hidden;
    font-family: "Caviar Dreams";

    .NewTile_Ikon {
        width: auto;
        height: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
            filter: var(--color-icon);
        }
    }

    .NewTile_InputContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 100%;
            height: 100%;
            border: none;
            background: none;
            outline: none;
            font-family: "Caviar Dreams";
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            color: var(--color-text);

            &:disabled {
                color: var(--color-textSecondary);
            }
        }
    }
}